@font-face {
font-family: "Metalord";
src: url("METALORD.TTF");
}

#logo {
    margin-top: 10px;
    margin-bottom: -20px;
    font-family: "Metalord";
    text-align: center;
    font-size: 100px;
    color: grey;
}

#content {
    font-family: "Arial";
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

nav {
    padding-left: 35px;
    color: grey;
    width: 463px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-family: "Arial";
}

body {
    margin: 0px;
    background-color: #282828;
    color: lightgrey;
}

nav a:hover {
    color: lightgrey;
}

a {
    color: inherit;
    text-decoration: none;
}

.section {
    color: lightgrey;
}

.sectiontitle {
    margin-top: -50px;
    font-size: 30px;
    padding: 5px;
    text-align: center;
    width: auto;
    background-color: #303030;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 5px;
}

.subsection {
    padding: 10px;
    width: auto;
    background-color: #393939;
    border-radius: 10px 10px 10px 10px;
    display: block;
}

.subsectioncheck {
    cursor: pointer;
    opacity: 0;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
    height: 50px;
    width: 100%;
}

.subsectioncheck:checked ~ .subsection {
    display: none;
}

.subsectioncheck:hover ~ .sectiontitle {
    background-color: #393939;
}

.random{
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    transform: scale(.5) rotate(90deg);
}

.center {
    text-align: center;
}

img {
    width: 100%;
}

.imagecontainer{
    text-align: center
}

.scaledimg {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    padding: 2px;
}

.header {
    font-size: 24px;
}
